:root {
	//color-scheme: light dark;
	--shadow-color: 0deg 0% 58%;
	--background-color: #eee;
	--text-color: #222;
	--white: #fff;
	--medium-gray: #555;
}

/*@media (prefers-color-scheme: dark) {
  :root {
  }
}*/

html,
body {
	margin: 0;
	height: 100%;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: -apple-system, "Inter", sans-serif;
	padding: 0;
	margin: 0;
	user-select: none;
	height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.icon::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 72px;
	font-weight: 900;
	text-align: center;
	margin: 48px 16px 16px;
}

h2 {
	text-align: center;
	margin: 0 16px 16px;
}

#progress {
	text-align: center;
	margin-top: 0;
	margin-bottom: 32px;
}

#ballparks-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	justify-content: center;
	padding: 0 0 48px 0;
}

#ballparks-list li {
	background-color: rgba(255, 255, 255, 1);
	margin: 24px;
	//border: 2px solid rgba(22, 22, 22, 0.4);
	//border: 1px solid rgba(22, 22, 22, 0.1);
	min-height: 220px;
	border-radius: 8px;
	text-align: center;
	width: 300px;
	padding: 16px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.36), 0px 0.5px 0.6px -0.8px hsl(var(--shadow-color) / 0.36),
		-0.1px 1.3px 1.5px -1.7px hsl(var(--shadow-color) / 0.36),
		-0.2px 3.2px 3.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

#ballparks-list img {
	max-height: 100px;
	max-width: 150px;
}

#ballparks-list .visited {
	border: 4px solid green;
}

#ballparks-list .visited img {
	filter: grayscale(1);
}

#ballparks-list .visited * {
	opacity: 0.4;
}

#ballparks-list .visited:before {
	content: "";
	//background-color: rgba(22, 22, 22, 0.4);
	background-color: green;
	position: absolute;
	bottom: -40px;
	right: -40px;
	transform: rotate(45deg);
	height: 80px;
	width: 80px;
}

#ballparks-list .visited::after {
	font: var(--fa-font-solid);
	content: "\f00c";
	color: var(--white);
	font-size: 18px;
	position: absolute;
	bottom: 8px;
	right: 8px;
}

#ballparks-list li h3 {
	font-family: "Antonio", sans-serif;
	font-weight: 700;
	font-size: 32px;
	text-transform: uppercase;
	margin: 0;
}

#ballparks-list .location {
	margin-top: 2px;
	font-size: 16px;
	font-weight: 300;
	color: var(--medium-gray);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	h1 {
		font-size: 44px;
		line-height: 46px;
		width: 85%;
		margin: 64px auto 10px;
	}

	h2 {
		width: 85%;
		margin: 0 auto 10px;
	}

	#ballparks-list {
		flex-direction: column;
		width: 85%;
	}

	#ballparks-list li {
		width: 100%;
		margin: 8px 0;
	}
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: -apple-system, "Inter", sans-serif;
	padding: 0;
	margin: 0;
	user-select: none;
	height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.icon::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 72px;
	font-weight: 900;
	text-align: center;
	margin: 48px 16px 16px;
}

#progress {
	text-align: center;
	margin-top: 0;
	margin-bottom: 32px;
}

#list-mlb,
#list-nba,
#list-nfl,
#list-nhl {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	justify-content: center;
	padding: 0 0 48px 0;
}

#list-mlb li,
#list-nba li,
#list-nfl li,
#list-nhl li {
	background-color: rgba(255, 255, 255, 1);
	margin: 24px;
	min-height: 220px;
	border-radius: 8px;
	text-align: center;
	width: 300px;
	padding: 16px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.36), 0px 0.5px 0.6px -0.8px hsl(var(--shadow-color) / 0.36),
		-0.1px 1.3px 1.5px -1.7px hsl(var(--shadow-color) / 0.36),
		-0.2px 3.2px 3.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

#list-mlb img,
#list-nba img,
#list-nfl img,
#list-nhl img {
	max-height: 100px;
	max-width: 150px;
}

#list-mlb .visited,
#list-nba .visited,
#list-nfl .visited,
#list-nhl .visited {
	border: 4px solid green;
}

#list-mlb .visited img,
#list-nba .visited img,
#list-nfl .visited img,
#list-nhl .visited img {
	filter: grayscale(1);
}

#list-mlb .visited *,
#list-nba .visited *,
#list-nfl .visited *,
#list-nhl .visited * {
	opacity: 0.4;
}

#list-mlb .visited:before,
#list-nba .visited:before,
#list-nfl .visited:before,
#list-nhl .visited:before {
	content: "";
	background-color: green;
	position: absolute;
	bottom: -40px;
	right: -40px;
	transform: rotate(45deg);
	height: 80px;
	width: 80px;
}

#list-mlb .visited::after,
#list-nba .visited::after,
#list-nfl .visited::after,
#list-nhl .visited::after {
	font: var(--fa-font-solid);
	content: "\f00c";
	color: var(--white);
	font-size: 18px;
	position: absolute;
	bottom: 8px;
	right: 8px;
}

#list-mlb li h3,
#list-nba li h3,
#list-nfl li h3,
#list-nhl li h3 {
	font-family: "Antonio", sans-serif;
	font-weight: 700;
	font-size: 32px;
	text-transform: uppercase;
	margin: 0;
}

#list-mlb .location,
#list-nba .location,
#list-nfl .location,
#list-nhl .location {
	margin-top: 2px;
	font-size: 16px;
	font-weight: 300;
	color: var(--medium-gray);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	h1 {
		font-size: 44px;
		line-height: 46px;
		width: 85%;
		margin: 64px auto 10px;
	}

	h2 {
		width: 85%;
		margin: 0 auto 10px;
	}

	#list-mlb,
	#list-nba,
	#list-nfl,
	#list-nhl {
		flex-direction: column;
		width: 85%;
	}

	#list-mlb li,
	#list-nba li,
	#list-nfl li,
	#list-nhl li {
		width: 100%;
		margin: 8px 0;
	}
}
