/* Table of contents
–––––––––––––––––––––––––––––––––––––––––––––––––– 
- Variables
- Grid 
- Base Styles
- Typography 
- Links 
- Buttons 
- Forms 
- Lists 
- Code 
- Tables 
- Spacing 
- Utilities 
- Clearing 
- Media Queries */

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
	//color-scheme: light dark;
	--shadow-color: 0deg 0% 58%;
	--page-background: #cbd5e0;
	--content-background: #ebf0f5;
	--text-color: #2d3748;
	--white: #fff;
	--medium-gray: #4a5568;
	--success: #21d086;

	--gray-050: #f8fafc;
	--gray-100: #f2f5f7;
	--gray-200: #ebf0f5;
	--gray-300: #e2e8f0;
	--gray-400: #cbd5e0;
	--gray-500: #a0aec0;
	--gray-600: #718096;
	--gray-700: #4a5568;
	--gray-800: #2d3748;
	--gray-900: #1a202c;
	--gray-950: #0c0f14;

	--purple-050: #f5f3ff;
	--purple-100: #faf5ff;
	--purple-200: #e9d8fd;
	--purple-300: #d6bcfa;
	--purple-400: #b794f4;
	--purple-500: #9f7aea;
	--purple-600: #805ad5;
	--purple-700: #6b46c1;
	--purple-800: #553c9a;
	--purple-900: #44337a;
	--purple-950: #421566;

	--indigo-050: #eef2ff;
	--indigo-100: #e0e7ff;
	--indigo-200: #c7d2fe;
	--indigo-300: #a5b4fc;
	--indigo-400: #818cf8;
	--indigo-500: #6366f1;
	--indigo-600: #4f46e5;
	--indigo-700: #4338ca;
	--indigo-800: #3730a3;
	--indigo-900: #312e81;
	--indigo-950: #1e1b4b;
}

/*@media (prefers-color-scheme: dark) {
  :root {
  }
}*/

html {
	font-size: 62.5%;
	height: 100%;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	font-size: 1.8em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.5;
	background: var(--page-background);
	color: var(--text-color);
	font-family: "Inter", sans-serif, -apple-system;
	padding: 0;
	margin: 0;
	user-select: none;
	height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

/* Tabs */
a {
	color: var(--indigo-700);
	transition: all 0.3s;
}
a:hover {
	color: var(--indigo-950);
}

.tabbed {
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	margin: 0px;
	padding: 32px 0 0;
	/* border-bottom: 1px solid #ccc; */
	background: var(--page-background);
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}

nav.tabs {
	background: var(--page-background);
}

.tabs ul {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0 8%;
	border-bottom: 2px solid #718096;
}
li.tab {
	flex: 1;
	text-align: center;
}

.tab > label {
	display: block;

	padding: 12px 32px;
	margin: 0 2px;
	margin-bottom: -2px;
	border: 2px solid #718096;
	background: #e2e8f0;
	color: #666;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 8px 8px 0px 0px;
}
.tab:hover label {
	border-top-color: var(--gray-950);
	color: var(--gray-950);
}

.tab-content {
	display: none;
	margin: 0px;
	padding: 32px 8%;
	background: var(--content-background);
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
	border-bottom-color: var(--content-background);
	border-top-color: var(--indigo-700);
	background: var(--content-background);
	color: #222;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
	display: block;
}

.icon::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 72px;
	font-weight: 900;
	text-align: center;
	margin: 48px 16px 16px;
}

h2 {
	text-align: center;
	margin: 0 16px 16px;
}

#progress-mlb,
#progress-nba,
#progress-nfl,
#progress-nhl {
	text-align: center;
	margin-top: 0;
	margin-bottom: 32px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	main {
		margin: 0;
		padding: 0;
	}

	h1 {
		font-size: 44px;
		line-height: 46px;
		margin: 64px auto 10px;
	}

	h2 {
		margin: 0 auto 10px;
	}

	#ballparks-list {
		flex-direction: column;
	}

	#ballparks-list li {
		width: 100%;
		margin: 8px 0;
	}
}

.icon::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

main {
	margin: 0px;
	padding: 0px;
	background: var(--content-background);
	border-bottom: 2px solid #718096;
}

footer {
	margin: 6em auto 0;
	text-align: center;
	max-width: 60rem;
	font-size: 1.6rem;
	padding-bottom: 10rem;
}

footer nav {
	margin-bottom: 1.6rem;
}
footer nav ul {
	margin: 0;
	padding: 0;
}

footer nav a {
	margin: 0 0.5rem;
	font-weight: 500;
}
footer ul li {
	display: inline-block;
}
footer nav li:before {
	content: "•";
	opacity: 0.5;
	margin-right: 1rem;
}

footer nav ul li:first-child:before {
	content: none;
}

footer #top {
	opacity: 0.25;
	transition: 0.3s;
}

footer #top:hover {
	opacity: 0.35;
}

h1 {
	font-size: 72px;
	font-weight: 900;
	text-align: center;
	margin: 48px 0 16px;
}

#progress-mlb,
#progress-nba,
#progress-nfl,
#progress-nhl {
	text-align: center;
	margin-top: 0;
	margin-bottom: 32px;
}

#list-mlb,
#list-nba,
#list-nfl,
#list-nhl {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* width: 90%; */
	margin: 0 auto;
	justify-content: center;
	padding: 0 0 48px 0;
}

#list-mlb li,
#list-nba li,
#list-nfl li,
#list-nhl li {
	background-color: rgba(255, 255, 255, 1);
	margin: 24px;
	min-height: 220px;
	border-radius: 8px;
	text-align: center;
	width: 300px;
	padding: 16px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.36), 0px 0.5px 0.6px -0.8px hsl(var(--shadow-color) / 0.36),
		-0.1px 1.3px 1.5px -1.7px hsl(var(--shadow-color) / 0.36),
		-0.2px 3.2px 3.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

#list-mlb img,
#list-nba img,
#list-nfl img,
#list-nhl img {
	max-height: 100px;
	max-width: 150px;
}

#list-mlb .visited,
#list-nba .visited,
#list-nfl .visited,
#list-nhl .visited {
	border: 4px solid var(--success);
}

#list-mlb .visited img,
#list-nba .visited img,
#list-nfl .visited img,
#list-nhl .visited img {
	filter: grayscale(1);
}

#list-mlb .visited *,
#list-nba .visited *,
#list-nfl .visited *,
#list-nhl .visited * {
	opacity: 0.4;
}

#list-mlb .visited:before,
#list-nba .visited:before,
#list-nfl .visited:before,
#list-nhl .visited:before {
	content: "";
	background-color: var(--success);
	position: absolute;
	bottom: -40px;
	right: -40px;
	transform: rotate(45deg);
	height: 80px;
	width: 80px;
}

#list-mlb .visited::after,
#list-nba .visited::after,
#list-nfl .visited::after,
#list-nhl .visited::after {
	font-family: "Phosphor-Bold";
	content: "\e182";
	color: var(--white);
	font-size: 18px;
	position: absolute;
	bottom: 8px;
	right: 8px;
	font-weight: bold;
}

#list-mlb li h3,
#list-nba li h3,
#list-nfl li h3,
#list-nhl li h3 {
	font-family: "Antonio", sans-serif;
	font-weight: 700;
	font-size: 32px;
	text-transform: uppercase;
	margin: 0;
}

#list-mlb .location,
#list-nba .location,
#list-nfl .location,
#list-nhl .location {
	margin-top: 2px;
	font-size: 16px;
	font-weight: 300;
	color: var(--medium-gray);
}

@media only screen and (min-width: 480px) {
	.tab > label {
		padding: 24px 64px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	main {
		margin: 0;
		padding: 0;
	}

	h1 {
		font-size: 44px;
		line-height: 46px;

		margin: 64px auto 10px;
	}

	h2 {
		margin: 0 auto 10px;
	}

	#list-mlb,
	#list-nba,
	#list-nfl,
	#list-nhl {
		flex-direction: column;
	}

	#list-mlb li,
	#list-nba li,
	#list-nfl li,
	#list-nhl li {
		width: 100%;
		margin: 8px 0;
	}
}
